@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Fredoka+One&family=Modak&family=Special+Elite&display=swap');



a:link, a:visited{
  text-decoration: none;
  color: rgba(244,244,244,1);
}

body {
  height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 18px;
  background: #aaa;
  background-color: #d9d9d9;
  background-image: radial-gradient(circle, rgba(233,233,233,1) 48%, rgba(209,213,213,1) 100%);
  font-family: sans-serif;
  min-height: 850px;
}

h1 {
  font-size: 3em;
  color:  rgba(244,244,244,1);
  margin-left: 50px;
  font-family: 'Fredoka One', sans-serif;
  align-self: flex-start;
  filter: drop-shadow(0 0 10px rgba(250,250,250, .5));
  -webkit-filter: drop-shadow(0 0 10px rgba(250,250,250, .5));
}

.author {
  font-size: 1em;
  color:  rgba(244,244,244,1);
  margin: 50px;
  font-family: 'Fredoka One', sans-serif;
  align-self: flex-end;
  filter: drop-shadow(0 0 10px rgba(250,250,250, .5));
  -webkit-filter: drop-shadow(0 0 10px rgba(250,250,250, .5));
}

.container {
  height: 100%;
  
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.calculator {
  border-radius: 50px;
  padding: 20px;
  background: white;
  display: flex;
  flex-direction: column;
  max-width: 360px;
  justify-content: center;
  box-shadow:  0px 10px 20px rgba(0,0,0, 0.2), inset 0px -1px 3px #999;
  background: linear-gradient(145deg, #ffffff, #f9f9f9);
}

button {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); 
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  text-shadow: inset 0px 1px 2px  #000;
  color: #666;
  outline: none;
  border: none;
  margin: 5px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: linear-gradient(145deg, #ffffff, #f9f9f9);
  box-shadow:  inset 1px 1px 10px rgba(227,227,227, 0), inset -1px -1px 10px rgba(255,255,255, 0), 3px 3px 10px #dedede,  -3px -3px 10px #ffffff /*, inset -3px -3px 5px #e3e3e3*/;
  font-size: 30px;
  font-weight:300;
  text-shadow: 0px -1px 2px rgba(50,50,50, .35);
  padding-top: 1px;
  padding-right: 0px;
  padding-left: 2px;
  padding-bottom: 0px;
  transition: all .15s ease;
  -webkit-transition: all .15s ease;
  -moz-transition: all .15s ease;
  -ms-transition: all .15s ease;
  -o-transition: all .15s ease;
}

button:active {
  box-shadow:   inset 1px 1px 10px #e3e3e3, inset -1px -1px 10px #ffffff/*, -3px -3px 5px #e3e3e3 */;
  background: linear-gradient(145deg, #f9f9f9, #ffffff);
  /*transform: scale(0.99);*/
  font-size: 29.5px;
}


.buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.wide {
  margin: 5px;
  width: 170px;
  height: 80px;
  border-radius: 80px;
}

.display {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  border-radius: 38px;
}

.display > * {
  min-height: 25px;
  text-align: right;
}

.output {
  font-size: 3.2em;
  height: 80px;
  color: #666;
  font-weight: 200;
}

.formula {
  color: #999;
  min-height: 1.2em;
  font-size: 1.5em;
  font-weight: lighter;
  padding-bottom: 5px;
}

.clear {
  color: darkred;
}

.eval {
  color: blue;
}